.variantsTable {

    @apply w-full text-sm md:text-lg xl:text-base 2xl:text-[min(0.8vw,1.2rem)];


    thead {
        @apply bg-pickled-bluewood-400 shadow-sm shadow-gray-300 uppercase;

        tr > th {
            @apply font-semibold text-white px-2 py-1 md:px-4 md:py-[0.6vw] 2xl:px-[0.6vw] 2xl:py-[0.4vw] text-center;
        }

        tr > th:nth-child(-n+3) {
            @apply text-left
        }

        tr > th:nth-last-child(-n+2) {
            @apply text-right
        }
    }

    tbody {

        tr {
            @apply transition-all
        }

        tr:hover {
            @apply cursor-pointer transition-all -translate-y-1 shadow-md
        }

        tr:active {
            @apply cursor-pointer transition-all -translate-y-0.5 shadow-sm
        }

        tr > td {
            @apply font-medium px-2 py-2 md:px-4 md:py-[0.8vw] 2xl:px-[0.6vw] 2xl:py-[0.7vw] text-center;
        }

        tr > td:first-child {
            @apply font-semibold;
        }

        tr > td:nth-child(-n+3) {
            @apply text-left;
        }

        tr > td:nth-last-child(-n+2) {
            @apply text-right;
        }

        tr:nth-child(2n) {
            @apply bg-slate-200;
        }
    }

}